[Unit]
Description=Gunicorn daemon for your application
After=network.target

[Service]
User=ec2-user
Group=www-data

WorkingDirectory=/home/ec2-user/Project_CICD

# Activate virtual environment and run gunicorn
ExecStart=/home/ec2-user/Project_CICD/env/bin/gunicorn \
          --workers 3 \
          --bind unix:/home/ec2-user/Project_CICD/gunicorn.sock \
          Project1.wsgi:application

# Restart automatically if it crashes
Restart=always

[Install]
WantedBy=multi-user.target