[Unit]
Description=Gunicorn daemon for your application
After=network.target

[Service]
User=ec2-user
Group=www-data

WorkingDirectory=/var/lib/jenkins/workspace/django_simple_CICD

# Activate virtual environment and run gunicorn
ExecStart=/var/lib/jenkins/workspace/django_simple_CICD/env/bin/gunicorn \
          --error-logfile /var/lib/jenkins/workspace/django_simple_CICD/error.log \
          --workers 3 \
          --capture-output --log-level debug \
          --bind unix:/run/gunicorn.sock \
          app.wsgi:application

# Restart automatically if it crashes
Restart=always

[Install]
WantedBy=multi-user.target